.Links {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  width: 100%;
  max-width: 30ch;
}

.container h1 {
  font-size: 1.75em;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: var(--title);
  width: 100%;
  justify-content: center;
  margin-bottom: 1em;
}
