.Link {
  text-decoration: none;
  color: var(--title);
  padding: 0.5em;
  width: 100%;
  background: var(--card2-bg);
}

.Link i {
  display: flex;
  width: 2em;
  justify-content: center;
  align-items: center;
}
