.Link {
  text-decoration: none;
  color: var(--title);
  padding: 0.5em;
  margin: 0.35em;
  width: calc(100% - 0.7em);
  background: var(--card2-bg);
  padding-left: 9ch;
}

.Link i {
  display: flex;
  width: 2em;
  justify-content: center;
  align-items: center;
}
