/*https://www.w3schools.com/css/css3_variables.asp*/
:root {
  --bg: #111111;

  --text: #aaa;
  --title: #fff;
  --title-dark: #222;

  --sans: Roboto, sans-serif;
  --mono: Inconsolata, monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font*/
  max-height: 999999999px;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
html *:not(head *):not(script):not(style) {
  /* https://www.youtube.com/watch?v=bngsrbFI2UY&t=120s */
  display: flex;
}
body {
  width: 100%;
  /*https://www.hostinger.com/tutorials/best-html-web-fonts*/
  font-family: var(--sans);
  font-size: clamp(min(2vh, 4vw), 1.75rem, min(3vh, 6vw));
  font-weight: 300;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
}
