.Link {
  text-decoration: none;
  color: var(--title);
  padding: 0.5em;
  border-radius: 0.5em;
  padding-left: 7.5ch;
  position: relative;

  transition: transform 0.2s ease-out;
}

.Link i {
  display: flex;
  width: 2em;
  justify-content: center;
  align-items: center;
}

.Link:first-child:hover {
  transform: translateX(-0.5em);
}
.Link:last-child:hover {
  transform: translateX(0.5em);
}

.Link.invert {
  color: var(--title-dark);
}
