.Main {
  flex-direction: column;
  font-size: 0.85em;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  gap: 1em;

  /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
  animation: fadeIn 1s;
  opacity: 1;
}

.column {
  flex-direction: row;
}
.column .row {
  flex-direction: column;
  width: 30ch;
  max-width: 100%;
  flex: 1;
}

.Main .headingContainer {
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.Main .headingContainer h1 {
  font-size: 2em;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: var(--title);
  width: 100%;
}
.Main p {
  width: 60ch;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}
.Main img {
  width: 2.5em;
  border-radius: 100%;
  box-shadow: var(--bs);
}

.Main .qrLink {
  text-decoration: none;
  color: var(--text);
  align-items: center;
  gap: 1ch;

  transition: padding-left 0.2s ease-in-out, color 0.1s ease-in-out;
}
.Main .qrLink:hover {
  color: var(--title);
}

@media (max-aspect-ratio: 1/1) {
  .column {
    flex-direction: column;
  }
  .Main p {
    width: 30ch;
  }
  .Main .headingContainer {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
